#error1{
    color: red;
}
#error{
    color: red;
}
#error3{
    color: red;
}
#success{
    color: green;
}
#error5{
    color: red;
}
#add_employee_area{
    display: none;
}
#add_company_area{
    display: none;
}
#manage_emp{
    display: none;
}
#manage_comp{
    display: none;
}
#logout{
    color: wheat;
}